In [5]:
print('good morning')

good morning

In [6]:
(404, "error")

(404, 'error')

In [8]:
def get_tuple():
    return(404, "error")

In [9]:
#tuple拆解法

(code,message) = get_tuple()
print(code)
print(message)

404
error

In [10]:
#1個元素的tuple
(404,)

(404,)

In [11]:
list()

[]

In [12]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
list(('a','b','c','1','2','3'))

['a', 'b', 'c', '1', '2', '3']

In [14]:
#符號建立
stu1 = [78,98,56,74,79]
stu1

[78, 98, 56, 74, 79]

In [16]:
for score in stu1:
    print(score)

78
98
56
74
79

In [17]:
empty_list = []
weekdays = ['Mon.','Tue.','Wed.','Thu.','Fri']
big_birds = ['emu','ostrich','cassowary']
first_names = ['Graham','John','Terry','Jerry','Michael']

In [18]:
first_names[5]

IndexError: list index out of range

In [19]:
type(first_names)

list

In [20]:
type(10)

int

In [21]:
type(10.0)

float

In [22]:
type('robert')

str

In [23]:
len(first_names)

5

In [24]:
first_names.append('robert')
first_names

['Graham', 'John', 'Terry', 'Jerry', 'Michael', 'robert']

In [25]:
first_names.insert(0,"Hsu")
first_names

['Hsu', 'Graham', 'John', 'Terry', 'Jerry', 'Michael', 'robert']

In [28]:
for word in "HelloWorld":
    print(word)

H
e
l
l
o
W
o
r
l
d

In [29]:
words = list("HelloWorld")
words

['H', 'e', 'l', 'l', 'o', 'W', 'o', 'r', 'l', 'd']

In [30]:
words[0]

'H'

In [36]:
#slice切割
words[0:5]

['H', 'e', 'l', 'l', 'o']

In [32]:
words[-5:-1]

['W', 'o', 'r', 'l']

In [34]:
words[-5:]

['W', 'o', 'r', 'l', 'd']

In [35]:
words[:5]

['H', 'e', 'l', 'l', 'o']

In [37]:
#2維list
nb = ['筆記電腦','商用筆電']
mobile = ['apple','asus','htc']
home = [3,'冰箱',2,'洗衣機']
all3c = [nb, mobile, home]
all3c

[['筆記電腦', '商用筆電'], ['apple', 'asus', 'htc'], [3, '冰箱', 2, '洗衣機']]

In [39]:
print(all3c[0])
print(all3c[1])
print(all3c[2])

['筆記電腦', '商用筆電']
['apple', 'asus', 'htc']
[3, '冰箱', 2, '洗衣機']

In [40]:
print(all3c[0][0])
print(all3c[1][0])
print(all3c[2][0])

筆記電腦
apple
3

In [41]:
#2維list練習
fruit = ['apple','banana','mango']
veg = ['patato','cabbage','carrot']
drink = ['juice','coffee','water']
all3f = [fruit, veg, drink]
all3f

[['apple', 'banana', 'mango'],
 ['patato', 'cabbage', 'carrot'],
 ['juice', 'coffee', 'water']]

In [42]:
print(all3f[0])
print(all3f[1])
print(all3f[2])

['apple', 'banana', 'mango']
['patato', 'cabbage', 'carrot']
['juice', 'coffee', 'water']

In [44]:
print(all3f[0][1])
print(all3f[1][2])
print(all3f[2][0])

banana
carrot
juice

In [54]:
import random

In [55]:
import random
random.randint(50,100)

95

In [7]:
stu1 = list()
for i in range(5):
    stu1.append(random.randint(50,100))
stu1

NameError: name 'random' is not defined

In [49]:
students = []
for _ in range(50):
    students.append([70,70,70,70,70])
students

[[70, 70, 70, 70, 70],
 [70, 70, 70, 70, 70],
 [70, 70, 70, 70, 70],
 [70, 70, 70, 70, 70],
 [70, 70, 70, 70, 70],
 [70, 70, 70, 70, 70],
 [70, 70, 70, 70, 70],
 [70, 70, 70, 70, 70],
 [70, 70, 70, 70, 70],
 [70, 70, 70, 70, 70],
 [70, 70, 70, 70, 70],
 [70, 70, 70, 70, 70],
 [70, 70, 70, 70, 70],
 [70, 70, 70, 70, 70],
 [70, 70, 70, 70, 70],
 [70, 70, 70, 70, 70],
 [70, 70, 70, 70, 70],
 [70, 70, 70, 70, 70],
 [70, 70, 70, 70, 70],
 [70, 70, 70, 70, 70],
 [70, 70, 70, 70, 70],
 [70, 70, 70, 70, 70],
 [70, 70, 70, 70, 70],
 [70, 70, 70, 70, 70],
 [70, 70, 70, 70, 70],
 [70, 70, 70, 70, 70],
 [70, 70, 70, 70, 70],
 [70, 70, 70, 70, 70],
 [70, 70, 70, 70, 70],
 [70, 70, 70, 70, 70],
 [70, 70, 70, 70, 70],
 [70, 70, 70, 70, 70],
 [70, 70, 70, 70, 70],
 [70, 70, 70, 70, 70],
 [70, 70, 70, 70, 70],
 [70, 70, 70, 70, 70],
 [70, 70, 70, 70, 70],
 [70, 70, 70, 70, 70],
 [70, 70, 70, 70, 70],
 [70, 70, 70, 70, 70],
 [70, 70, 70, 70, 70],
 [70, 70, 70, 70, 70],
 [70, 70, 70, 70, 70],
 [70, 70, 70, 70, 70],
 [70, 70, 70, 70, 70],
 [70, 70, 70, 70, 70],
 [70, 70, 70, 70, 70],
 [70, 70, 70, 70, 70],
 [70, 70, 70, 70, 70],
 [70, 70, 70, 70, 70]]

In [51]:
students = []
for _ in range(50):
    stu = list()
    for _ in range(5):
        stu.append(random.randint(50,100))
    students.append(stu)
students

[[80, 66, 51, 65, 83],
 [62, 90, 88, 100, 51],
 [90, 63, 89, 95, 92],
 [78, 64, 51, 67, 98],
 [76, 58, 58, 92, 82],
 [70, 50, 53, 86, 69],
 [53, 50, 78, 99, 86],
 [59, 80, 61, 92, 99],
 [77, 78, 85, 97, 54],
 [63, 67, 80, 97, 57],
 [82, 100, 74, 100, 64],
 [62, 51, 69, 66, 67],
 [76, 55, 79, 67, 52],
 [87, 69, 52, 50, 87],
 [80, 57, 64, 58, 69],
 [69, 96, 67, 100, 77],
 [54, 96, 72, 50, 88],
 [95, 54, 52, 70, 96],
 [94, 50, 54, 60, 69],
 [53, 67, 61, 73, 93],
 [62, 78, 52, 56, 100],
 [89, 56, 89, 56, 73],
 [97, 82, 61, 86, 84],
 [68, 53, 60, 96, 93],
 [91, 71, 78, 61, 81],
 [73, 83, 66, 53, 78],
 [100, 95, 85, 52, 99],
 [64, 73, 52, 86, 52],
 [64, 90, 69, 94, 58],
 [59, 100, 50, 88, 76],
 [77, 72, 61, 92, 67],
 [76, 77, 65, 86, 58],
 [93, 67, 94, 55, 86],
 [77, 70, 78, 59, 90],
 [89, 74, 66, 76, 69],
 [80, 96, 89, 63, 87],
 [91, 72, 61, 75, 86],
 [60, 71, 73, 72, 99],
 [82, 54, 67, 52, 69],
 [50, 68, 56, 60, 99],
 [98, 70, 60, 54, 56],
 [83, 90, 78, 62, 67],
 [97, 81, 83, 80, 51],
 [54, 53, 60, 59, 98],
 [82, 100, 95, 79, 78],
 [80, 81, 59, 71, 67],
 [78, 84, 50, 96, 60],
 [84, 98, 64, 58, 83],
 [74, 64, 75, 92, 94],
 [55, 72, 88, 78, 66]]

In [ ]:
open('hello.text')